body {
    background: #fafafa;
}

.ZeGotinha{
    width: 110px;
    height: 150px;
    background-image: url(ZeGotinha.png) ;
    position: absolute;
    bottom: 0;
}

.Corona{
    width: 130px;
    height: 130px;
    background-image: url(Corona.png);
    position: absolute;
    bottom: 0;
}

.Game-Over {
    text-align: center;
    color: darkred;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100pt;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 350px;
}